@model Proyecto.Models.IndexViewModel
@{
    ViewBag.Title = "Gestionar";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col s12">
        <div class="card-panel">
            <div class="card-content">
                <div class="row">
                    <h4 class="card-title">Información Personal</h4>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="icon_prefix" type="text" value="@Model.Name" disabled class="validate">
                        <label for="icon_prefix">Nombre:</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">call</i>
                        <input id="icon_prefix" type="text" value="@Model.PhoneNumber" disabled class="validate">
                        <label for="icon_prefix">Telefono:</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">local_shipping</i>
                        <input id="icon_prefix" type="text" value="@Model.Address" disabled class="validate">
                        <label for="icon_prefix">Dirección:</label>
                    </div>
                    </div>
                </div>
            <div class="card-action">
                @Html.ActionLink("Editar", "ChangeUserInfo", new { id = Model.Id }) |
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Cambiar la contraseña", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Crear", "SetPassword")
                }
                <div class="row">
                    <div class="col s6">
                        
                    </div>
                    <div class="col s6 offset-s6">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p class="green-text">@ViewBag.StatusMessage</p>